<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Template Is Working</title>
</head>
<body>
<h1>This is a text area . Please enter your text below</h1>
<form action='/analyze' method='get'>
<textarea name="text" style='margin: 0px; width: 1462px; height: 384px;'></textarea><br>


    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover">Remove New Line<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
    <input type="checkbox" name="charcounter"> Character Counter<br>
    <button type="submit"> Analyze Text</button>
</form>
</body>
</html>


</div>
  <div class="custom-control custom-switch">
  <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Remove Punctuations</label>
</div>
  </div>
  <div class="custom-control custom-switch">
  <input type="checkbox" name="fullcaps" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Full Caps</label>
</div>
    </div>
  <div class="custom-control custom-switch">
  <input type="checkbox" name="newlineremover" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">New Line Remover</label>
</div>
    </div>
  <div class="custom-control custom-switch">
  <input type="checkbox" name="extraspaceremover" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Extra Spaces Remover</label>
</div>
    <div class="custom-control custom-switch">
  <input type="checkbox" name="charcounter" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Character Counter</label>
</div>




   <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover">Remove New Line<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
    <input type="checkbox" name="charcounter"> Character Counter<br>